@import url(vendor/reset.css);
@import url(components/header.css);
@import url(components/container.css);
@import url(components/info.css);
@import url(components/features.css);
@import url(components/plan.css);
@import url(components/locations.css);
@import url(components/customers.css);
@import url(components/subscribe.css);
@import url(components/footer.css);
@import url(components/aside.css);
@import url(components/sign_in.css);

body {
  /* width: 100%; */
  position: relative;
}

h2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
}

p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  color: #4f5665;
}

a {
  text-decoration: none;
  cursor: pointer;
}
